**
!Dockerfile
!COPYRIGHT.md
!LICENSE-STATUS.md
!package.json
!package-lock.json
!astro.config.mjs
!tsconfig.json
!src/
!src/**
!public/
!public/**
!server/
!server/**
!shared/
!shared/**
!scripts/
!scripts/**
!distribution/
!distribution/astro-adapter.mjs
!distribution/runtime/
!distribution/runtime/**
!openapi-docs/
!openapi-docs/**
**/.env
**/.env.*
**/*.map
**/node_modules/**
**/.git/**
**/data/**
**/tests/**
**/docs/**
